In [3]:
import numpy as np 
import pandas as pd

In [5]:
df =pd.read_csv('student_performance.csv')

In [7]:
df.head()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
0,1,18.5,95.6,3.8,97.9,A
1,2,14.0,80.0,2.5,83.9,B
2,3,19.5,86.3,5.3,100.0,A
3,4,25.7,70.2,7.0,100.0,A
4,5,13.4,81.9,6.9,92.0,A

In [9]:
df.shape

(1000000, 6)

In [11]:
df.head(10)

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
0,1,18.5,95.6,3.8,97.9,A
1,2,14.0,80.0,2.5,83.9,B
2,3,19.5,86.3,5.3,100.0,A
3,4,25.7,70.2,7.0,100.0,A
4,5,13.4,81.9,6.9,92.0,A
5,6,13.4,65.1,5.0,97.5,A
6,7,26.1,81.8,5.9,100.0,A
7,8,20.4,100.0,4.0,96.1,A
8,9,11.7,100.0,8.2,69.8,C
9,10,18.8,67.6,6.0,80.3,B

In [13]:
df.tail(10)

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
999990,999991,15.4,82.8,4.0,86.9,A
999991,999992,30.0,87.4,6.7,100.0,A
999992,999993,26.3,84.6,4.5,100.0,A
999993,999994,20.7,82.4,5.5,99.1,A
999994,999995,15.1,77.0,9.2,80.5,B
999995,999996,18.0,95.5,4.8,100.0,A
999996,999997,15.7,82.7,6.7,88.3,A
999997,999998,14.2,85.1,5.8,87.9,A
999998,999999,25.3,90.0,5.3,100.0,A
999999,1000000,18.3,84.6,4.1,100.0,A

In [19]:
df.columns

Index(['student_id', 'weekly_self_study_hours', 'attendance_percentage',
       'class_participation', 'total_score', 'grade'],
      dtype='object')

In [21]:
df['weekly_self_study_hours'].max()

40.0

In [23]:
df[df['weekly_self_study_hours'] == df['weekly_self_study_hours'].max() ]

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
209,210,40.0,68.1,6.7,100.0,A
2895,2896,40.0,75.7,4.2,100.0,A
15843,15844,40.0,99.5,8.0,100.0,A
18851,18852,40.0,91.7,7.0,100.0,A
20126,20127,40.0,94.1,3.0,100.0,A
...,...,...,...,...,...,...
971477,971478,40.0,74.2,7.7,100.0,A
973306,973307,40.0,90.0,6.2,100.0,A
974300,974301,40.0,78.8,2.5,100.0,A
976629,976630,40.0,93.9,7.0,100.0,A
980167,980168,40.0,82.6,7.2,100.0,A

In [27]:
df.columns

Index(['student_id', 'weekly_self_study_hours', 'attendance_percentage',
       'class_participation', 'total_score', 'grade'],
      dtype='object')

In [25]:
df.sort_values('weekly_self_study_hours',ascending=False).head(5)

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
895979,895980,40.0,86.7,6.7,100.0,A
334965,334966,40.0,92.3,5.4,100.0,A
2895,2896,40.0,75.7,4.2,100.0,A
779223,779224,40.0,76.1,6.4,100.0,A
963524,963525,40.0,88.7,7.0,100.0,A

In [43]:
std =df[df['attendance_percentage'] ==  df['attendance_percentage'].max()].count()['student_id']
per =std*100/total 
per

6.7378

In [41]:
total =df.shape[0]
total

1000000

In [45]:
df.head()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
0,1,18.5,95.6,3.8,97.9,A
1,2,14.0,80.0,2.5,83.9,B
2,3,19.5,86.3,5.3,100.0,A
3,4,25.7,70.2,7.0,100.0,A
4,5,13.4,81.9,6.9,92.0,A

In [55]:
std1 =df[df['class_participation'] ==  df['class_participation'].max()].count()['student_id']
per =std1*100/total  
per

2.4128

In [57]:
def scorelev(s): 
    if s>=90: 
        return 'High'
    elif s>=70:
        return 'Medium'
    else: 
        return 'Low' 

df['Scoring_level'] =df['total_score'].apply(scorelev)

In [59]:
df.head()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade,Scoring_level
0,1,18.5,95.6,3.8,97.9,A,High
1,2,14.0,80.0,2.5,83.9,B,Medium
2,3,19.5,86.3,5.3,100.0,A,High
3,4,25.7,70.2,7.0,100.0,A,High
4,5,13.4,81.9,6.9,92.0,A,High

In [67]:
df[df['total_score'] ==  df['total_score'].max()]

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade,Scoring_level
2,3,19.5,86.3,5.3,100.0,A,High
3,4,25.7,70.2,7.0,100.0,A,High
6,7,26.1,81.8,5.9,100.0,A,High
17,18,17.2,74.0,8.1,100.0,A,High
20,21,25.3,89.3,6.4,100.0,A,High
...,...,...,...,...,...,...,...
999991,999992,30.0,87.4,6.7,100.0,A,High
999992,999993,26.3,84.6,4.5,100.0,A,High
999995,999996,18.0,95.5,4.8,100.0,A,High
999998,999999,25.3,90.0,5.3,100.0,A,High
999999,1000000,18.3,84.6,4.1,100.0,A,High

In [69]:
len(df[df['total_score'] ==  df['total_score'].max()])

268121

In [71]:
df['Efficiency'] =df['total_score']/df['weekly_self_study_hours']

In [73]:
df.head()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade,Scoring_level,Efficiency
0,1,18.5,95.6,3.8,97.9,A,High,5.291892
1,2,14.0,80.0,2.5,83.9,B,Medium,5.992857
2,3,19.5,86.3,5.3,100.0,A,High,5.128205
3,4,25.7,70.2,7.0,100.0,A,High,3.891051
4,5,13.4,81.9,6.9,92.0,A,High,6.865672

In [75]:
def cat(x):
    if x<10:
        return 'light'
    elif x<=20:
        return 'Moderate'
    else: 
        return 'heavy'

df['Category'] =df['weekly_self_study_hours'].apply(cat)

In [77]:
df.head()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade,Scoring_level,Efficiency,Category
0,1,18.5,95.6,3.8,97.9,A,High,5.291892,Moderate
1,2,14.0,80.0,2.5,83.9,B,Medium,5.992857,Moderate
2,3,19.5,86.3,5.3,100.0,A,High,5.128205,Moderate
3,4,25.7,70.2,7.0,100.0,A,High,3.891051,heavy
4,5,13.4,81.9,6.9,92.0,A,High,6.865672,Moderate